body {
    background-color: rgb(246, 246, 246);
}

main.principal {
    width: 100%;
}

main.principal .container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}

main.principal .container>h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
}

#game {
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

#duas-imagens {
    display: flex;
    justify-content: space-between;
}

#duas-imagens img {
    width: 48%;
    border-radius: 12px;
}

#perguntas {
    background-color: rgb(61, 136, 202);
    color: white;
    font-family: sans-serif;
}

#perguntas p {
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
    padding: 8px;
}

#perguntas ul {
    width: 100%;
    padding: 5px 8px;
}

#perguntas ul li {
    padding-left: 5px;
    width: 100%;
    margin: 5px 0;
    transition: .4s;
    border-radius: 12px;
}

#perguntas ul li:hover {
    background-color: rgb(63, 52, 214);
    padding: 5px;
    font-size: 1.2rem;
}

#perguntas ul li a {
    text-decoration: none;
    color: white;
    transition: .4s;
    width: 100%;
    display: inline-block;
}

#perguntas ul li a:hover {
    color: rgb(8, 243, 243);
}


/*inicio media queries*/

@media screen and (max-width: 425px) {
    #duas-imagens {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
    #duas-imagens img {
        width: 100%;
        border-radius: 0;
    }
}